.marquee {
    max-width: 90vw;
    overflow: hidden;
    --speed: 25s;
    --item-width: 460px;
    --item-gap: 25px;
  
    --single-slide-speed: calc(var(--speed) / var(--num-items));
    --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
    --track-width: calc(var(--item-width-plus-gap) * calc(var(--num-items) - 1));
  }
  
  .marquee-track {
    container-type: inline-size;
    display: grid;
    grid-template-columns: var(--track-width) [track] 0px [resting];
    width: max-content;
  }
  
  .marquee-item {
    width: var(--item-width);
    /* aspect-ratio: 1/1.2; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff; */
  
    grid-area: resting;
    animation: marquee-move var(--speed) linear infinite var(
        --direction,
        forwards
      );
    animation-delay: calc(var(--single-slide-speed) * var(--item-position) * -1);
  }
  
  .marquee-item svg {
    height: auto;
    width: 60%;
  }
  
  @keyframes marquee-move {
    to {
      transform: translateX(calc(-100cqw - 100%));
    }
  }