body {
    font-family: 'SF Pro Display', sans-serif;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    outline: none !important;
    outline-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.scroll-jump {
    scroll-snap-type: y mandatory;
}

.scroll-align {
    scroll-snap-align: start;
    height: 100vh;
    scroll-snap-stop: always;
}

.scroll-none {
    scroll-snap-align: none;
    height: auto;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.mt-0imp {
    margin-top: 0 !important;
}

.notifications::-webkit-scrollbar {
    width: 5px;
  }
  
.notifications::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.notifications::-webkit-scrollbar-thumb {
    background: #888;
  }
  
.notifications::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.animate-banner-hover:hover {
    animation-play-state: paused;
}

.firstDelay {
    animation-delay: 2s;
    transition-delay: 2s;
}

.secondDelay {
    animation-delay: 4s;
    transition-delay: 4s;
}

.whiteText {
    color: white !important;
}

.tableShadow { 
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
}

.radioBlack * {
    border-color: black !important;
}

@media (min-width: 1024px) {
    .perspective {
        perspective: 1400px;
        perspective-origin: center;
        position: relative;
    }
}


/* signinipfield */
.selectcard{
    width: 100%;
}
.selectcarddiv{
    width: 350px;
}

.ipfield{
    width: 450px;
}
.ipfieldfw{
    width: 100%;
}
.dashboard_dr_cards_1{
    width: 30%;
}
.dashboard_dr_cards_2{
    width: 70%;
}

.dashboardcont{
    width: 70%;
    margin: auto;
}

@media (max-width: 485px) {
    .ipfield{
        width: 100%;
    }
    .selectcarddiv{
        width: 100%;
    }
    .signinformipfield{
        width: 90%;
    }
    .chartcontenttext{
        font-size: 12px;
        line-height: 140%;
            
    }
    .dashboardtablehead{
        font-size: 16px;
     
    }
}
@media (max-width : 1030px)
{
    .sidebardashboard{
        display: none;
    }
    .sidebardashboardopen{
        position: absolute;
    left: 0;
    width: 50%;
    }
}
@media (max-width: 1440px) {
    .dashboardcont{
        width: 90%;
    }
}

/* styles/globals.css */
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/sf-pro-display/SFProDisplayRegular.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/sf-pro-display/SFProDisplayBold.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/sf-pro-display/SFProDisplayMedium.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/sf-pro-display/SFProDisplayBlackItalic.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  /* Add more weights and styles as needed */
  
