@tailwind base;
@tailwind components;
@tailwind utilities;

.mt-0imp {
    margin-top: 0 !important;
}

.animate-banner-hover:hover {
    animation-play-state: paused;
}

.firstDelay {
    animation-delay: 2s;
    transition-delay: 2s;
}

.secondDelay {
    animation-delay: 4s;
    transition-delay: 4s;
}